<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Detector</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <script>
        $(document).ready(function() {
            $("textarea").focus(function() {
                $(this).css("background-color", "#f2f2f2");
            });
            $("textarea").blur(function() {
                $(this).css("background-color", "#ffffff");
            });
        });
    </script>
</head>

<body>
<main role="main">
    <div class="container">
        <div class="row no-gutters align-items-center">
            <div class="col-">
                <a href="{{ url_for(request.endpoint) }}">
                    <img src="{{url_for('static', filename='favicon.ico')}}" alt="Logo" style="height: 64px; width: 64px; margin: 8px;"/>
                </a>
            </div>
            <div class="col-"><h1>Error Detector</h1></div>
            <div class="ml-auto"><button type="button" class="btn btn-success btn-lg" id="button-intro">Introduction</button></div>
        </div>
        <div>
            <button class="btn btn-outline-secondary active" id="button1" onclick="changeToggleAccuracy()" onmouseover="mouseover1();" onmouseout="mouseout();">Accuracy</button>
            <button class="btn btn-outline-secondary active" id="button2" onclick="changeToggleBrevity(document.f1.sstextbox.value,0,100)" onmouseover="mouseover2();" onmouseout="mouseout();">Brevity</button>
            <button class="btn btn-outline-secondary active" id="button3" onclick="changeToggleClarity(document.f1.sstextbox.value,0,100)" onmouseover="mouseover3();" onmouseout="mouseout();">Clarity</button>
            <button class="btn btn-outline-secondary active" id="button4" onclick="changeToggleObjectivity(document.f1.sstextbox.value,0,100)" onmouseover="mouseover4();" onmouseout="mouseout();">Objectivity</button>
            <button class="btn btn-outline-secondary active" id="button5" onclick="changeToggleFormality(document.f1.sstextbox.value,0,100)" onmouseover="mouseover5();" onmouseout="mouseout();">Formality</button>
        </div>
        <p class="out" id="intro" rows="8" style="width: 80%;"></p>
        <form id="f1" name="f1">
            <textarea id="sstextbox" class="form-control mb-3" name="sstextbox" rows="8" cols="50" wrap="soft" placeholder="Paste text here to check for errors." ></textarea>
        </form>
        <p id="introduction"></p>
        <p id="output"></p>
        <p id="output1" ></p>
        <p id="output2" ></p>
        <p id="output3" ></p>
        <div id="output-explanations" ></div>
        <hr>
    </div>
</main>
<footer class="footer mt-auto py-3"><div class="container">
    <span class="text-muted">&copy; John Blake 2020</span></div>
</footer>

<!-- Introduction Modal -->
<div class="modal fade" id="intro-modal" tabindex="-1" role="dialog" aria-labelledby="Introduction" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Introduction</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#button-intro').on('click',function(){
        $('.modal-body').load("{{ url_for('intro')}}",function(){
            $('#intro-modal').modal({show:true});
        });
    });
</script>
</body>

</html>