#button1 {
    border: 2px solid #ffff66; /*70% yellow*/
    margin-bottom: 8px;
}
#button1.active {
    color: #6c757d;
    background-color: #ffff66; /*70% yellow*/
    margin-bottom: 8px;
}
#button1.active:hover {
    background-color: #D3D3D3;
    margin-bottom: 8px;
}
#button2 {
    border: 2px solid #ffb366; /*70% orange*/
    margin-bottom: 8px;
}
#button2.active {
    color: #6c757d;
    background-color: #ffb366; /*70% orange*/
    margin-bottom: 8px;
}
#button2.active:hover {
    background-color: #D3D3D3;
    margin-bottom: 8px;
}
#button3 {
    border: 2px solid #c0e769; /*light green*/
    margin-bottom: 8px;
}
#button3.active {
    color: #6c757d;
    background-color: #c0e769; /*light green*/
    margin-bottom: 8px;
}
#button3.active:hover {
    background-color: #D3D3D3;
    margin-bottom: 8px;
}
#button4 {
    border: 2px solid #69e4e7;  /*light blue*/
    margin-bottom: 8px;
}
#button4.active {
    color: #6c757d;
    background-color: #69e4e7;  /*light blue*/
    margin-bottom: 8px;
}
#button4.active:hover {
    background-color: #D3D3D3;
    margin-bottom: 8px;
}
#button5 {
    border: 2px solid #B19CD9;  /*light purple*/
    margin-bottom: 8px;
}
#button5.active {
    color: #6c757d;
    background-color: #B19CD9;  /*light purple*/
    margin-bottom: 8px;
}
#button5.active:hover {
    background-color: #D3D3D3;
    margin-bottom: 8px;
}
#button-intro {
    margin: 8px 0 8px 8px;
}


#intro {
    min-height: 3em;
}

textarea {
    width: 100%;
}

/*blocks float and rearrange based on screen size*/
.largefloating-box {
    border: solid #ffdf9c;
    border-radius: 15px;
    display: inline-block;
    padding: 10px 10px 10px 10px; /*top right bottom left*/
    margin: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 315px;
    max-width: 100%;
    max-height: 100%;
}